<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2 menu-btns">
      <a routerLink="/artist/Billie" class="menu-btn button"> Billie Eilish </a>
    </div>
    <div class="col-sm-2 menu-btns">
      <a routerLink="/artist/Camila" class="menu-btn button">
        Camila Cabello
      </a>
    </div>
    <div class="col-sm-2 menu-btns">
      <a routerLink="/artist/Katy" class="menu-btn button"> Katy Perry </a>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
